@use "src/css/variables.scss" as *;
@use "quasar/src/css/variables" as q;

$small-board-size: 100%;

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $footer-padding;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  flex-direction: row;

  @media screen and (max-height: $min-height-breakpoint) {
    .board-container {
      min-height: $min-height;
      min-width: $min-height;
    }
  }
}

.chess-layout {
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

.board {
  display: flow;
  touch-action: none;
  background-image: url("/img/board_green.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  user-select: none;
  width: 100%;
}

.board-container {
  display: grid;

  .portrait & {
    min-height: 82vw;
    min-width: 82vw;
  }
  @media screen and (min-height: $min-height-breakpoint) and (max-height: $min-height-between-breakpoint) {
    .landscape & {
      min-height: 78vh;
      min-width: 78vh;
    }
  }
  @media screen and (min-height: $min-height-between-breakpoint) {
    .landscape & {
      min-height: 82vh;
      min-width: 82vh;
    }
  }
}

#sessionIdDisplay {
  display: inline-flex;
  position: absolute;
  z-index: 100;
}
