@use "../variables.scss" as *;
@use "squares" as *;

.hint {
  @include square;
  background-clip: content-box;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: $hint-z-index;
  cursor: pointer;

  &-move {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4.2%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &-capture {
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-width: 1vh;

    &:hover {
      border: 5px solid rgba(0, 0, 0, 0.5);
      border-width: 1vh;
    }
  }

  &-drop {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 0%;
    padding: 0%;
    border-width: 1vh;
  }
}
