$font-size-base: 1em;
$min-width: 800px;
$footer-padding: 3px;

$page-size-with-footer: 88vh;
$min-height-breakpoint: 400px;
$min-height: 300px;

$hint-z-index: 5;
$piece-z-index: 4;
$check-z-index: 3;
$highlight-z-index: 2;
