$font-size-base: 1em;
$min-width: 800px;
$footer-padding: 3px;

$min-height-breakpoint: 420px;
$min-height-between-breakpoint: 600px;
$min-height: 330px;

$hint-z-index: 5;
$piece-z-index: 4;
$check-z-index: 3;
$highlight-z-index: 2;
